body {
  padding: 0px;
  margin: 0px;
  position: relative;
  background-color: #000329;
  color: #f4efeb;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p {
  margin: 0px;
}

header {
  width: 100%;
  padding: 10px 0px;
  background-color: #ee7d21;
  text-align: center;
}
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.bookData-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 0px;
  padding-bottom: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.book-container {
  list-style-type: none;
  border: 2px solid rgb(230, 163, 39);
  padding: 20px;
  margin: 5px 10px;
  width: 200px;
  border-radius: 15px;
  background-color: rgba(6, 10, 135, 0.608);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  transition: background-color 0.27s ease-in-out;
}

.book-container:hover {
  background-color: rgba(6, 72, 205, 0.73);
  cursor: pointer;
}

.book-container h4 {
  width: 100%;
  margin: 0px;
  margin-top: 10px;
  font-size: 20px;
  font-style: normal;
}

.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-style: italic;
}

button {
  padding: 10px 20px;
  font-weight: bold;
  background-color: #f27c1a;
  border-radius: 15px;
  border: none;
  color: #e7e1dd;
}
.addButton {
  display: block;
  margin: 25px auto;
}

button:hover {
  background-color: #950000;
  cursor: pointer;
}

.addButton:hover,
.submit:hover {
  background-color: #00954d;
  cursor: pointer;
}

h3 {
  text-align: center;
}

/* modal styling */

h2 {
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
}

.modal-background {
  height: 100vh;
  width: 100%;
  background-color: rgba(27, 26, 26, 0.8);
  position: absolute;
  top: 0;
  left: 0px;
  display: flex;
  align-items: center;
}

.modal-container {
  background-color: rgba(0, 7, 78, 0.857);
  border: 2px solid rgb(230, 163, 39);
  border-radius: 15px;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  padding: 15px;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.modal-container button {
  border-radius: 15px;
  width: 45%;
  margin-top: 20px;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.input-container input,
.input-container textarea {
  width: 60%;
  border: none;
  margin: 3px 0px;
  background-color: #fde9cf;
}

.button-container {
  display: flex;
  justify-content: space-between;
}
